export const firebaseConfig = {
    apiKey: "XXxXXXXXXXXZZZXZXZXZXZXZXZXAEFASDFASDFA",
    authDomain: "example.firebaseapp.com",
    databaseURL: "https://example.firebaseio.com",
    projectId: "example",
    storageBucket: "example.appspot.com",
    messagingSenderId: "123456789012",
    appId: "1:123456789012:web:a1s2v3b4f5h6j7r8w9v0n1",
    measurementId: "G-4K4H9W0F0W"
}
